alembic == 1.14.0
asyncpg == 0.30.0
pymysql == 1.1.1
asyncmy == 0.2.10
sqlalchemy == 2.0.36

fastapi == 0.115.6
pydantic == 2.10.4
pydantic-settings == 2.7.1
uvicorn == 0.32.0

poetry == 1.8.5
pyjwt == 2.10.1
pyopenssl == 24.3.0
cryptography == 43.0.3
python-jose
passlib[bcrypt]